
:root{
  --card-color: #1c1f2b;
  --dark-primary-color: #ffffff;
  --light-primary-color: #181818;
  --secondary-text-color: #0a0a0a;/* Dark text for light mode */
  --primary-text-color: #ffffff;/* Light text for dark mode */
  --secondary-color:#181818;
}

body.lightMode {
  --background-color: #FAF9F6;
  --secondary-text-color: #0a0a0a;/* Dark text for light mode */
  --light-card-color:var(var--dark-primary-color);
}

body.darkMode {
  --background-color: #181818;
  --secondary-text-color: #cfcfcf;/* Light text for dark mode */
  --dark-card-color: var(--light-primary-color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* home */
/* image of me */
.me{
  position: absolute;
  bottom: 0;
  right: 8rem;
  width: 30rem;
  max-width: 100%;
  z-index: 0;
}

.content-hero{
  position: relative;
  z-index: 1; /*hide behind side bar blur*/ 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12rem;
}

.content-hero .contentBox-hero{
  position: relative;
  max-width: 60%;
}

.content-hero .contentBox-hero h4{
  font-weight: 400;
  color: var(--primary-color);
  font-size: 2em;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.content-hero .contentBox-hero h2{
  line-height: 1em; 
  font-size: 3em;
}

.content-hero .contentBox-hero h3{
  line-height: 1.5em; 
  font-size: 1.5em;
  font-weight: 300;
}

.content-hero .contentBox-hero p{
  font-size: 1em;
  margin: 10px 0 ;
}

.content-hero .contentBox-hero a{
  display: inline-block;
  padding: 10px 20px;
  margin-right: 20px;
  font-weight: 500;
  text-transform: uppercase;
  border: 2px double #088F8F;
  border-radius: 100px;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  color: var(--secondary-text-color);
}

.content-hero .contentBox-hero a:last-child{
  background: #088F8F;
  /* color: var(--secondary-text-color);  */
}

.content-hero .contentBox-hero a:hover{
  box-shadow: 0 0 15px #088F8F, 0 0 40px #088F8F;
}

/* about-me */
.about-me{
  z-index: 1; /*hide behind side bar blur*/ 
  text-align: center;
  color: var(--primary-color); /*TEXT FOR WHO AM I ..*/
  font-size: 3em;
}

.about-me-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-me-layout{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.about-me-layout span{ /* color for span */
  color: var(--primary-color);
}

.avatar {
  width: 20rem;
  max-width: 100%;
}

.card{
  flex: 1;
  padding: 2rem;
  max-width: 50rem;
  min-height: 10rem;
  background: #cfcfcf;
  text-align: left;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
  top: 3rem;
}

.card p{
  font-size: 1rem;
  color: var(--light-primary-color);
  letter-spacing: 2px;
}

.card::after, .card::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  --angle-start: 0deg;
  background-image: conic-gradient(from var(--angle-start), transparent 65%, #088F8F, black);
  translate: -50% -50%;
  animation: 5s spin linear infinite;
}

.card::before{
  filter: blur(1.5rem);
  opacity: 0.5;
}

@property --angle-start{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin{
  from{
    --angle-start: 0deg;
  }

  to{
    --angle-start: 360deg;
  }
}

.tools-title{
  width: 100%;
  max-width: 100%;
  text-align: center;
  font-size: 1.5em;
  margin-top: 5%;
}

.tools{
  display: grid;
  column-gap: 50px;
  row-gap: 50px;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  margin-top: 3%;
  justify-content: center;
}

.tools > div {
  display: flex;              /* Enable Flexbox */
  align-items: center;        /* Vertically align the icon and text */
  /*justify-content: flex-start;     Horizontally center the icon and text */
  padding: 10px;
  text-align: center;
}

.tools > div > svg {
  margin-right: 20px;          /* Space between the icon and text */
  font-size: 1em;             /* Adjust icon size */
  
}

.tools > div span {
  font-size: 0.75em;           /* Make the text smaller */
}

.hobbies-interest{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.hobbies-interest h1{
  width: 100%;
  max-width: 100%;
  text-align: center;
  font-size: 2.5em;
  margin-top: 3%;
  margin-bottom: 5%;
}

.ihcard{
  position: relative;
  max-width: 300px;
  height: 202px;
  width: 100%; /* Allow it to take full width in smaller screens */
  background-color: var(--primary-color);
  margin: 30px 10px;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 5);
}

.ihcard:hover{
  height: 420px;
  transition: 0.5s;
}

.imgBox-hi{
  position: relative;
  width: 260px;
  height: 260px;
  top: -50px;
  left: -5px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

img{ /*image for the hobbies and interst*/
  max-width: 100%;
  border-radius: 4px;
}

.description-hi{
  position: relative;
  margin-top: -140px;
  padding: 18px 15px;
  text-align: justify;
  color: var(--light-primary-color);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.ihcard:hover .description-hi{
  visibility: visible;
  opacity: 1;
  margin-top: 40px;
  transition-delay: 0.3s;
  bottom: 80px;
}

/* project */
.project-container{
  display: flex;
  gap: 10px;
  justify-content: center;
}

.project-container .project-card{
  position: relative;
  flex: 1;
  max-width: 80px;
  height: 400px;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: all 500ms ease-in-out;
}

.project-container .project-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-container .project-card .project-info{
  position: absolute;
  top: auto;
  width: auto;
  height: 400px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px 10px;
  background: linear-gradient(rgba(0, 0, 0, .35), rgba(0, 0, 0, 2.55));
  color: var(--primary-text-color);
  font-size: 16px;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.project-container .project-card .project-info .project-icons {
  display: flex; /* Use flexbox for horizontal alignment */
  gap: 8px; /* Add spacing between icons */
  align-items: center; /* Align icons vertically */
}
.project-container .project-card .project-info span {
  color: var(--primary-color);
  font-weight: bold;
}

.project-container .project-card .project-info p{
  color: var(--primary-text-color);
  font-size: 12px;
}

.project-container .project-card .project-info a{
  color: var(--primary-color);
}

.project-container .project-card:hover{
  max-width: 500px;
}

.project-container .project-card:hover .project-info{
  top: 0;
  opacity: 1;
  transition: all 300ms ease-in-out 150ms;
}

/* contact */
.contact-title{
  width: 100%;
  max-width: 100%;
  text-align: center;
  font-size: 1.5em;
  margin-top: 5%;
  height: auto;
}

.contact-me{
  display: grid;
  column-gap: 50px;
  row-gap: 50px;
  grid-template-columns: auto auto;
  background-color: var(--primary-color);
  padding: 5px;
  font-size: 0.8em;
  margin-top: 3%;
  border-radius: 10px;
}

.contact-me > div{
  background-color: var(--card-color);
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 10px;
}


/* responsive */
@media (max-width: 1440px) and (min-width: 1024px) {
  .me {
    right: 6rem; /* Adjust right margin for medium screens */
    width: 22rem; /* Slightly smaller image size */
    max-width: 100%;
  }

  .content-hero {
    padding: 15vh; /* Adjust padding for medium screens */
  }

  .content-hero .contentBox-hero {
    max-width: 70%; /* Slightly more space for text */
  }

  .card {
    width: 40rem; /* Adjust width */
    max-width: 100%;
  }

  .tools {
    max-width: 100%;
    width: 100%;
    font-size: 1em; /* Default font size */
  }

  .tools > div {
    font-size: 1em;  /* Ensures the icon-text remains consistent */
  }

  .hobbies-interest {
    padding: 15px;
  }

  .ihcard {
    margin: 20px 5px; /* Reduce margins for smaller screens */
    padding: 15px 20px; /* Adjust padding */
  }

  .imgBox-hi {
    width: 100%;
  }

  .description-hi {
    font-size: 0.9em; /* Adjust text size */
    margin-top: 10px; /* Adjust margin */
  }

  /* .contact-title{
    max-width: 100%;
    width: 100%;
    font-size: 1em;
    margin-top: 50%;
  }

  .contact-me{
    max-width: 100%;
    width: 100%;
    font-size: 1em;
    margin-top: 15%;
  } */
  
}

/* Styles for smaller screens (Tablets and smaller laptops) */
@media (max-width: 1024px) {
  .me {
    right: 2.5rem; /* Further reduce right margin */
    width: 20rem; /* Smaller image size */
    max-width: 100%;
    height: 350px;
  }

  .content-hero {
    flex-direction: column; /* Stack content vertically */
    padding: 1vh 1vw; /* Adjust padding for smaller screens */
  }

  .content-hero .contentBox-hero {
    max-width: 100%; /* Allow more width for text content */
    text-align: center; /* Center align text */
  }

  .content-hero .contentBox-hero h4,
  .content-hero .contentBox-hero h2,
  .content-hero .contentBox-hero h3 {
    font-size: 1.5em; /* Adjust font sizes for smaller screens */
  }

  .content-hero .contentBox-hero p {
    font-size: 0.9em; /* Adjust paragraph font size */
  }

  .about-me-layout {
    flex-direction: column; /* Stack image and card vertically on smaller screens */
  }

  .avatar {
      width: auto; /* Smaller image size */
      max-width: 100%;
  }

  .card {
      width: 100%; /* Full width for smaller screens */
      max-width: 20rem;
      top: -5rem;
  }

.tools {
    grid-template-columns: repeat(2, 1fr); /* Change to 2 columns */
    font-size: 0.9em; /* Slightly smaller font size */
  }

  .tools > div > svg {
    font-size: 1.5em; /* Slightly smaller icon size */
    margin-right: 6px; /* Adjust space between icon and text */
  }

  .tools > div span {
    font-size: 0.8em; /* Reduce text size */
  }

  .hobbies-interest {
    padding: 15px;
  }

  .ihcard {
    margin: 20px 5px; /* Reduce margins for smaller screens */
    padding: 15px 20px; /* Adjust padding */
  }

  .imgBox-hi {
    width: 100%;
  }

  .description-hi {
    font-size: 0.9em; /* Adjust text size */
    margin-top: 10px; /* Adjust margin */
  }

  .contact-title{
    max-width: 100%;
    width: 100%;
    font-size: 1em;
    margin-top: 50%;
  }

  .contact-me{
    max-width: 100%;
    width: 100%;
    font-size: 1em;
    margin-top: 15%;
  }
}